## Import Dependancies

In [1]:
import pandas as pd
import json
import numpy as np
import zipfile

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, select, join
import timeit

## Extract and Read CSVs

In [2]:
#Extract Files from ZIP files 
with zipfile.ZipFile("01_Raw_Data/28_3144_compressed_2013_data.csv.zip","r") as zip_ref:
    zip_ref.extractall('01_Raw_Data')
    
with zipfile.ZipFile("01_Raw_Data/28_3144_compressed_2014_data.csv.zip","r") as zip_ref:
    zip_ref.extractall('01_Raw_Data')

with zipfile.ZipFile("01_Raw_Data/28_3144_compressed_2015_data.csv.zip","r") as zip_ref:
    zip_ref.extractall('01_Raw_Data')

In [3]:
data_2013 = pd.read_csv('01_Raw_Data/2013_data.csv', dtype=object)
data_2014 = pd.read_csv('01_Raw_Data/2014_data.csv', dtype=object)
data_2015 = pd.read_csv('01_Raw_Data/2015_data.csv', dtype=object)

In [4]:
#Merge DataFrames 
reduced_20132015_df = pd.concat([data_2013, data_2014, data_2015])
reduced_20132015_df.head()

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,15,NaN,0,01,M,1,090,NaN,44,...,NaN,NaN,NaN,01,NaN,NaN,1,1,100,6
1,1,12,NaN,0,01,F,1,080,NaN,42,...,NaN,NaN,NaN,01,NaN,NaN,1,1,100,6
2,2,17,NaN,0,01,M,1,073,NaN,40,...,NaN,NaN,NaN,01,NaN,NaN,1,1,100,6
3,1,99,NaN,0,01,M,1,078,NaN,41,...,NaN,NaN,NaN,03,NaN,NaN,2,3,100,8
4,1,12,NaN,0,01,F,1,083,NaN,42,...,NaN,NaN,NaN,01,NaN,NaN,1,1,100,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2718193,1,NaN,1,1,05,M,6,005,NaN,01,...,NaN,NaN,NaN,02,NaN,1,3,2,998,9
2718194,1,NaN,9,1,12,F,1,048,NaN,35,...,NaN,NaN,NaN,01,NaN,NaN,1,1,100,6
2718195,4,NaN,9,1,12,M,1,033,NaN,32,...,NaN,NaN,NaN,01,NaN,1,1,1,299,5
2718196,4,NaN,9,1,07,M,1,083,NaN,42,...,NaN,NaN,NaN,02,NaN,NaN,3,2,100,7
2718197,1,NaN,9,1,12,M,1,081,NaN,42,...,NaN,NaN,NaN,02,NaN,NaN,3,2,998,9

## Decoding JSONs

In [5]:
#Decoding JSON
with open("01_Raw_Data/2015_codes.json", "r") as f_open:
    code_maps_2013 = json.load(f_open)

with open("01_Raw_Data/2015_codes.json", "r") as f_open:
    code_maps_2014 = json.load(f_open)

with open("01_Raw_Data/2015_codes.json", "r") as f_open:
    code_maps_2015 = json.load(f_open)

## Cleaning up Data
1. Find out Column info
2. Drop irrelavent columns 
3. Replace the Blanks in the Columns 
4. Replace values with the codes on JSON
5. Rename Columns to improve readability

In [6]:
#Describe dytpes and list columns 
#reduced_20132015_df.info()

In [7]:
#Drop Columns that are irrelavent to hypothesis 
reduced_20132015_df = reduced_20132015_df.drop(columns=['113_cause_recode', '39_cause_recode', 'day_of_week_of_death', 'resident_status', 'education_1989_revision', 'age_recode_52', 'age_recode_12', 'education_reporting_flag', 'age_substitution_flag', 'place_of_death_and_decedents_status', 'injury_at_work', 'method_of_disposition', 'autopsy', 'activity_code', 'place_of_injury_for_causes_w00_y34_except_y06_and_y07_', 'icd_code_10th_revision', 'race', 'bridged_race_flag', 'race_imputation_flag', 'race_recode_3', 'race_recode_5', 'hispanic_origin', 'hispanic_originrace_recode', 'detail_age_type', 'number_of_entity_axis_conditions', 'entity_condition_1', 'entity_condition_2', 'entity_condition_3', 'entity_condition_4', 'entity_condition_5', 'entity_condition_6', 'entity_condition_7', 'entity_condition_8', 'entity_condition_9', 'entity_condition_10', 'entity_condition_11', 'entity_condition_12', 'entity_condition_13', 'entity_condition_14', 'entity_condition_15', 'entity_condition_16', 'entity_condition_17', 'entity_condition_18', 'entity_condition_19', 'entity_condition_20', 'number_of_record_axis_conditions', 'record_condition_1', 'record_condition_2', 'record_condition_3', 'record_condition_4', 'record_condition_5', 'record_condition_6', 'record_condition_7', 'record_condition_8', 'record_condition_9', 'record_condition_10', 'record_condition_11', 'record_condition_12', 'record_condition_13', 'record_condition_14', 'record_condition_15', 'record_condition_16', 'record_condition_17', 'record_condition_18', 'record_condition_19', 'record_condition_20'])

In [8]:
#From each columns NAN values 
# reduced_20132015_df['education_2003_revision'].unique()

In [9]:
#Drop the NAN
reduced_20132015_df = reduced_20132015_df.dropna(subset=['education_2003_revision'])

In [10]:
#Replace the Blanks in other columns (manner_of_death, 130_infant_cause_recode , infant_age_recode_22)
reduced_20132015_df['manner_of_death'] = reduced_20132015_df['manner_of_death'].replace(np.nan, '5')
reduced_20132015_df['infant_age_recode_22'] = reduced_20132015_df['infant_age_recode_22'].replace(np.nan, '99')
reduced_20132015_df['130_infant_cause_recode'] = reduced_20132015_df['130_infant_cause_recode'].replace(np.nan, '99')

In [11]:
#Using JSON decoder, replace values in the dataframes. 
#Go through ALL columns 
reduced_20132015_df['manner_of_death'] = reduced_20132015_df['manner_of_death'].apply(
    lambda x: code_maps_2015['manner_of_death'][x])

In [12]:
#Create Duplicate to isolate the infant codes (infant_age_recode_22, 130_infant_cause_recode)
reduced_20132015_df2 = reduced_20132015_df
reduced_20132015_df2

,education_2003_revision,month_of_death,sex,detail_age,age_recode_27,infant_age_recode_22,marital_status,current_data_year,manner_of_death,358_cause_recode,130_infant_cause_recode
53204,2,01,F,077,21,99,W,2013,Natural,093,99
53205,2,01,F,086,23,99,W,2013,Natural,273,99
53206,4,01,M,090,24,99,W,2013,Natural,238,99
53207,1,01,F,088,23,99,W,2013,Natural,267,99
53208,1,01,F,096,25,99,W,2013,Natural,242,99
...,...,...,...,...,...,...,...,...,...,...,...
2718193,1,05,M,005,01,01,S,2015,Natural,358,089
2718194,9,12,F,048,15,99,U,2015,Natural,215,99
2718195,9,12,M,033,12,99,U,2015,Natural,178,99
2718196,9,07,M,083,22,99,U,2015,Natural,214,99
2718197,9,12,M,081,22,99,U,2015,Natural,207,99

In [13]:
#Isolate infant_age_recode_22
#130_infant_cause_recode is directly corraleted to infant_age_recode_22, no need seperately isolate
df1 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '1']
df2 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '2']
df3 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '3']
df4 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '4']
df5 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '5']
df6 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '6']
df7 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '7']
df8 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '8']
df9 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '9']
df10 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '10']
df11 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '11']
df12 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '12']
df13 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '13']
df14 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '14']
df15 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '15']
df16 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '16']
df17 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '17']
df18 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '18']
df19 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '19']
df20 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '20']
df21 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '21']
df22 = reduced_20132015_df2[reduced_20132015_df2.iloc[:, 5] == '22']

#Merge DataFrames 
reduced_20132015_df3 = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22])
reduced_20132015_df3

,education_2003_revision,month_of_death,sex,detail_age,age_recode_27,infant_age_recode_22,marital_status,current_data_year,manner_of_death,358_cause_recode,130_infant_cause_recode
55563,1,01,M,014,01,10,S,2013,Natural,368,120
56792,1,02,F,018,01,10,S,2013,Natural,357,077
58506,1,03,M,018,01,10,S,2013,Natural,410,148
64293,1,04,M,014,01,10,S,2013,Natural,363,106
64479,1,04,M,015,01,10,S,2013,Natural,242,052
...,...,...,...,...,...,...,...,...,...,...,...
2556017,1,08,F,011,02,22,S,2015,Homicide,440,155
2610492,1,06,F,011,02,22,S,2015,Accident,378,135
2691614,1,06,M,011,02,22,S,2015,Natural,134,026
2701405,1,09,F,011,02,22,S,2015,Natural,372,132
2715564,1,12,F,011,02,22,S,2015,Natural,379,136

In [14]:
#Isolate the blank infant_age_recode_22(99) values 
df_blank = reduced_20132015_df[reduced_20132015_df.iloc[:, 5] == "99"]
df_blank

,education_2003_revision,month_of_death,sex,detail_age,age_recode_27,infant_age_recode_22,marital_status,current_data_year,manner_of_death,358_cause_recode,130_infant_cause_recode
53204,2,01,F,077,21,99,W,2013,Natural,093,99
53205,2,01,F,086,23,99,W,2013,Natural,273,99
53206,4,01,M,090,24,99,W,2013,Natural,238,99
53207,1,01,F,088,23,99,W,2013,Natural,267,99
53208,1,01,F,096,25,99,W,2013,Natural,242,99
...,...,...,...,...,...,...,...,...,...,...,...
2718192,9,10,F,046,15,99,U,2015,Natural,158,99
2718194,9,12,F,048,15,99,U,2015,Natural,215,99
2718195,9,12,M,033,12,99,U,2015,Natural,178,99
2718196,9,07,M,083,22,99,U,2015,Natural,214,99
2718197,9,12,M,081,22,99,U,2015,Natural,207,99

In [15]:
#Using JSON decoder, replace values in the dataframes. 
#Go through (infant_age_recode_22, 130_infant_cause_recode) 
reduced_20132015_df3['infant_age_recode_22'] = reduced_20132015_df3['infant_age_recode_22'].apply(
    lambda x: code_maps_2015['infant_age_recode_22'][x])

In [16]:
#Combine into a single database
reduced_20132015_df = pd.concat([reduced_20132015_df3, df_blank])
reduced_20132015_df

,education_2003_revision,month_of_death,sex,detail_age,age_recode_27,infant_age_recode_22,marital_status,current_data_year,manner_of_death,358_cause_recode,130_infant_cause_recode
55563,1,01,M,014,01,14 - 20 days,S,2013,Natural,368,120
56792,1,02,F,018,01,14 - 20 days,S,2013,Natural,357,077
58506,1,03,M,018,01,14 - 20 days,S,2013,Natural,410,148
64293,1,04,M,014,01,14 - 20 days,S,2013,Natural,363,106
64479,1,04,M,015,01,14 - 20 days,S,2013,Natural,242,052
...,...,...,...,...,...,...,...,...,...,...,...
2718192,9,10,F,046,15,99,U,2015,Natural,158,99
2718194,9,12,F,048,15,99,U,2015,Natural,215,99
2718195,9,12,M,033,12,99,U,2015,Natural,178,99
2718196,9,07,M,083,22,99,U,2015,Natural,214,99
2718197,9,12,M,081,22,99,U,2015,Natural,207,99

In [17]:
# replace 99 value on (infant_age_recode_22, 130_infant_cause_recode) wuth Not an Infant'
reduced_20132015_df['infant_age_recode_22']=reduced_20132015_df['infant_age_recode_22'].replace(['99'], 'Not an Infant')
reduced_20132015_df['130_infant_cause_recode']=reduced_20132015_df['130_infant_cause_recode'].replace(['nan'], 'Not an Infant')

In [18]:
#Rename Columns for additional readability 
reduced_20132015_df.rename(columns={"education_2003_revision": "Education Level", 
                                    "month_of_death": "Month of Death", 
                                    "sex": "Sex/Gender", 
                                    "detail_age": "Exact Age", 
                                    "age_recode_27": "Age Groups", 
                                    "infant_age_recode_22": "Infant Age Groups", 
                                    "marital_status": "Marital Status", 
                                    "current_data_year": "Year", 
                                    "manner_of_death": "Manner of Death", 
                                    "358_cause_recode": "Cause of Death", 
                                    "130_infant_cause_recode": "Infant Cause of Death"                                              
                                   })

,Education Level,Month of Death,Sex/Gender,Exact Age,Age Groups,Infant Age Groups,Marital Status,Year,Manner of Death,Cause of Death,Infant Cause of Death
55563,1,01,M,014,01,14 - 20 days,S,2013,Natural,368,120
56792,1,02,F,018,01,14 - 20 days,S,2013,Natural,357,077
58506,1,03,M,018,01,14 - 20 days,S,2013,Natural,410,148
64293,1,04,M,014,01,14 - 20 days,S,2013,Natural,363,106
64479,1,04,M,015,01,14 - 20 days,S,2013,Natural,242,052
...,...,...,...,...,...,...,...,...,...,...,...
2718192,9,10,F,046,15,Not an Infant,U,2015,Natural,158,99
2718194,9,12,F,048,15,Not an Infant,U,2015,Natural,215,99
2718195,9,12,M,033,12,Not an Infant,U,2015,Natural,178,99
2718196,9,07,M,083,22,Not an Infant,U,2015,Natural,214,99
2718197,9,12,M,081,22,Not an Infant,U,2015,Natural,207,99

## Connect to PostgreSQL

In [19]:
#Connect to PostgreSQL database
# engine = create_engine("postgresql://postgres:lX7aD3heUjmpPX5*@prj2.cudyhgiksme7.us-east-2.rds.amazonaws.com:5432/prj2")
# reduced_20132015_df.to_sql('reduced20132015master', engine, chunksize=1000, method='multi')